<!-- Navbar con routerLink -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand fw-bold" routerLink="/">🎬 CineLog</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navMenu">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navMenu">
      <ul class="navbar-nav ms-auto gap-2">
        <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/catalogo" routerLinkActive="active">Catálogo</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/buscar" routerLinkActive="active">Buscar</a>
        </li>
        <li class="nav-item">
          <a class="btn btn-warning btn-sm ms-2" routerLink="/agregar">+ Agregar</a>
        </li>
      </ul>
    </div>
  </div>
</nav>

<!-- Notificación global (Signal) -->
@if (notificacionService.notificacion()) {
  <div class="alert alert-{{ notificacionService.notificacion()!.tipo === 'exito' ? 'success' :
    notificacionService.notificacion()!.tipo === 'error' ? 'danger' : 'info' }}
    alert-dismissible position-fixed top-0 end-0 m-3 shadow" style="z-index:9999">
    {{ notificacionService.notificacion()!.mensaje }}
  </div>
}

<!-- router-outlet: aquí se renderizan los componentes de cada ruta -->
<main class="container py-4">
  <router-outlet />
</main>

<footer class="bg-dark text-light text-center py-3 mt-4">
  <small>CineLog &copy; 2025 — Tu catálogo personal de cine</small>
</footer>